html,body {
	width: 100%;
}

.btn-default {
	color: #1E90FF;
	background: rgba(0,100,255,0.1);
}

.btn-default:hover {
	color: #1E90FF;
	background: rgba(0,100,255,0.1);
}

.position {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

tbody {
	display: block;
	width: 100%;
}



/* 第一页开始 */
.list1 {
	display: block;
}

.list1 .tr1 {
	width: 174px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.list1 .tr1 td {
	font-size: 18px;
	font-weight: bold;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #516676;
}

.list1 .tr1>td:last-child {
	color: #30d366;
}

.list1 .tr1 div {
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #30D366;
}




.list1 .tr2 {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 43px;
}

.list1 .tr2 td {
	display: flex;
	align-items: center;
	justify-content: center;
}


.list1 .tr2 h6 {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	color: #516676;
	opacity: 0.8;
	margin-right: 20px;
}


.list1 .tr2 select {
	font-size: 18px;
	font-weight:normal;
	font-stretch: normal;
	color: #516676;
	opacity: 0.8;
	background: rgba(0,160,255,0.2);
	border-radius: 40px;
	border: none;
	padding: 8px 19px;
}


.list1 .tr2 img {
	width: 47px;
	height: 47px;
	cursor: pointer;
	
}

.list1 .tr2 a {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #ffffff;
	border-radius: 40px;
	padding: 6px 32px;
	box-shadow: 0px 4px 20px 0 rgba(55, 223, 116, 0.75);
}

.list1 .tr2 input {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	color: #516676;
	opacity: 0.8;
	background: rgba(0,160,255,0.2);
	border-radius: 40px;
	border: none;
	padding: 8px 22px;
	display: block;
	
}



.list1 .tr3 {
	display: block;
	width: 100%;
	margin-top: 40px;
	
	border-bottom: 1px solid #30A3FE;
}

.list1 .tr3 td {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #30a2fe;
	margin-right: 38px;
	padding-bottom: 24px;
	
}


.list1 .select-active {
	border-bottom: 2px solid #30A3FE;
}

.list1 .tr3 span {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0rem;
	color: #30a2fe;
	
}


.list1 .tr4 {
	display: block;
	width: 100%;
	margin-top: 61px;
}

.list1 .tr4>td {
	display: block;
	width: 100%;
}

.list1 .tr4 table {
	width: 100%;
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.list1 .tr4 tr {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 40px auto;
}

.list1 .tr4 tr:first-child {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
}

.list1 .tr4 th {
	font-family: MicrosoftYaHei-Bold;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #41b2fc;
	opacity: 0.8;
}

.list1 .tr4 th:last-child {
	margin-right: 52px;
}

.list1 .tr4 th:nth-child(2) {
	margin-left: 10px;
	margin-right: 100px;
}

.list1 .tr4 th:nth-child(3) {
	margin-left: -30px;
	/* margin-right: 100px; */
}

.list1 .tr4 th:nth-child(4) {
	margin-left: -50px;
}

.list1 .tr4 th:nth-child(5) {
	margin-left: -40px;
}


.num {
	display: flex;
	align-items: center;
}


.num span{
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #566168;
	opacity: 0.8;
}

.num>div {
	width: 20px;
	height: 20px;
	position: relative;
	margin-right: 12px;
	display: inline-block;
	
}

.num img {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.num img:first-child {
	z-index: -1;
}

.list1 .name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 250px;
	margin-left: -90px;
}

.list1 .name div:first-child {
	width: 82px;
	height: 82px;
	background-color: #d8eaf3;
	border-radius: 6px;
}

.list1 .name div:last-child {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	height: 82px;
}


.list1 .name h6 {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: rgba(0,0,0,.2);
	white-space: nowrap;
}

.list1 .name span {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #566168;
	opacity: 0.8;
}


.list1 .price {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #566168;
	opacity: 0.8;
	margin-left: -40px;
}


.list1 .type {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #566168;
	opacity: 0.8;
}

.sell {
	position: relative;
	width: 45px;
	height: 23px;
}

.sell img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.list1 .time {
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #566168;
	opacity: 0.8;
}


.control {
	display: flex;
	align-items: center;
	justify-content: center;
}

.control a {
	display: block;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #41b2fc;
	padding-right: 13px;
	border-right: 1px solid rgba(0,0,0,.2);
	margin-right: 17px;
}

.control img {
	width: 20px;
	height: 22px;
}





.list1 .tr6 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 41px;
	padding-bottom: 30px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}


.list1 .tr6>td:first-child {
	display: flex;
	align-items: center;
}

.list1 .tr6>td:first-child div {
	display: flex;
	align-items: center;
	margin-right: 80px;
}


.list1 .tr6 img {
	width: 36px;
	height: 36px;
	margin-right: 8px;
	margin-top: 6px;
	cursor: pointer;
}

.list1 .tr6 span {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: rgba(0,0,0,.6);
	opacity: 0.8;
}


.list1 .tr6>td:nth-child(2)>div:first-child {
	width: 414px;
	display: flex;
	justify-content: space-between;
}


.list1 .tr6>td:nth-child(2)>div:first-child>div {
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: rgba(0,0,0,.5);
	
}


.list1 .tr6>td:nth-child(2)>div:first-child>div:nth-child(2)>span {
	color: #29c99a;
}

.list1 .tr6>td:nth-child(2)>div:first-child>div:last-child>span {
	color: #29c99a;
}

.list1 .tr6>td:nth-child(2) {
	height: 78px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

.list1 .tr6 span {
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #3db0ff;
}


.list1 .tr6 a {
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 1px;
	/* font-weight: bold; */
	
	/* color: rgba(0,0,0,.6); */
}


.list1 .tr6 .btn {
	/* width: 130px; */
	height: 40px;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	padding: 6px 25px;
	border-radius: 30px;
	margin-right: 24px;
	line-height: 28px;
}


.list1 .tr6 td:last-child .btn {
	width: 84px;
	height: 31px;
	line-height: 18px;
}


.list1 .tr6>td:last-child>div:last-child {
	width: 478px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list1 .tr6>td:last-child>div:last-child .btn {
	margin-right: 0;
}


.list1 .tr6 i {
	display: inline-block;
	border-radius: 50%;
	width: 5px;
	height: 5px;
	background: lightblue;
	margin-right: 6px;
	margin-bottom: 5px;
}





.btns {
	background: none;
	border: none;
	border-radius: 50%;
	margin-bottom: 4px;
}


.btn-active {
	width: 35px;
	height: 35px;
	background-color: rgba(0,0,255,.05);
	color: dodgerblue;
}



.tr7 td{
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #82898e;
	opacity: 0.8;
	margin: 0 auto;

}


.tr7 {
	width: 100%;
	margin-top: 38px;
	display: flex;
	justify-content: center;
}

/* 第一页结束 */




/* 第二页开始 */
.list2 {
	display: block;
}

.same-tr1 {
	width: 272px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.same-tr1 td {
	font-size: 18px;
	font-weight: bold;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #516676;
}

.same-tr1>td:last-child {
	color: #30d366;
}

.same-tr1 div {
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #30D366;
}

.same-tr2 {
	margin-top: 44px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}


.same-tr2 td {
	width: 491px;
	height: 56px;
}

.same-tr2 img {
	width: 100%;
	height: 100%;
}



.list2 .tr3 {
	display: block;
	margin-top: 40px;
	width: 100%;
}

.list2 .tr3 td:first-child {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #a4adb5;
	margin-right: 15px;
}

.list2 .tr3 td:last-child {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #516676;
}



.list2 .tr4>td:first-child {
	display: block;
	margin-right: 60px;
}


.list2 .tr4>td>div:first-child {
	margin-top: 43px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
} 

.list2 .green {
	display: inline-block;
	width: 10px;
	height: 5px;
	margin-right: 16px;
}


.list2 h4 {
	font-size: 24px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 40px;
	letter-spacing: 1px;
	color: #4f5b64;
}


.list2 h4:last-child {
	color: #30a3fe;	
}


.list2 .tr4>td>div:last-child {
	width: 484px;
	height: 374px;
	background-color: #f3faff;
	border-radius: 4px;
	overflow-y: auto;
	margin-top: 19px;
}

/* .list2 .tr4>td>div:last-child::-webkit-scrollbar {
	display: none;
} */

.list2 .tr4 ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.list2 li:first-child {
	margin-top: 35px;
}

.list2 li {
	margin: 20px 0 20px 27px;
}

.list2 .num div {
	width: 30px;
	height: 30px;
}


.list2 .tr5 {
	display: block;
	width: 100%;
	margin-top: 60px;
	padding-bottom: 136px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}


.list2 .tr5 .btn {
	width: 250px;
	height: 40px;
	line-height: 24px;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #ffffff;
	border-radius: 30px;
	padding: 8px 32px;
}
/* 第二页结束 */






/* 第三页开始 */
.list3 {
	display: block;
}
.list3 .tr3 {
	display: block;
	width: 100%;
	margin-top: 41px;
	padding-bottom: 36px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.list3 .tr3>td{
	width: 100%;
	display:block;
}

.list3 .tr3 table {
	width: 100%;
	/* height: 944px; */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	
}


.list3 .table1 tr {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-top: 39px;
	
}


.list3 .tr3 table tr:first-child {
	margin-top: 0;
}



.tr3-title th:last-child {
	font-size: 24px;
	font-weight: bold;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #4f5b64;
}

.tr3-title .green{
	display: inline-block;
	width: 10px;
	height: 5px;
	margin-top: 10px;
	margin-right: 16px;
}


.list3 .table1 tr>td:first-child {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #a4adb5;
}

.list3 .table1 p {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #516676;
}


.list3 .table1 span {
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #516676;
	opacity: 0.8;
	white-space: nowrap;
}

.list3 .table1 input {
	width: 400px;
	height: 40px;
	background-color: #ebf7ff;
	border-radius: 20px;
	border: solid 3px rgba(55, 169, 254, 0.17);
	opacity: 0.8;
	padding:0 10px;
}


.list3 .table1 textarea {
	width: 700px;
	height: 200px;
	background-color: #ebf7ff;
	border-radius: 20px;
	border: solid 3px rgba(55, 169, 254, 0.17);
	opacity: 0.8;
	padding:10px 10px;
}


.tr3-type {
	padding-left: 26px;
	
}


.tr3-type>td:nth-child(2) {
	display: flex;
}


.tr3-type>td:last-child {
	display: block;
	width: 47px;
	height: 47px;
	margin-top: -10px;
}

.tr3-type img {
	width: 100%;
	height: 100%;
}



.tr3-num {
	padding-left: 63px;
}

.tr3-num > td:last-child {
	height: 70px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: -10px;
}


.tr3-name {
	padding-left: 63px;
}

.tr3-name > td:last-child {
	height: 70px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: -10px;
}


.tr3-discrip {
	padding-left: 26px;
}

.tr3-discrip>td:last-child {
	margin-top: -10px;
}



.tr3-price {
	padding-left: 101px;
}


.tr3-price>td:last-child {
	height: 70px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: -10px;
}


.tr3-discount {
	padding-left: 82px;
}


.tr3-discount>td:last-child {
	margin-top: -10px;
}

.tr3-img {
	padding-left: 26px;
}



#file1 {
	display: block;
	width: 140px;
	height: 140px;
	background-color: #bbdff6;
	border-radius: 4px;
	line-height: 140px;
	padding-left: 30px;
	margin-bottom: 15px;
}



.list3 .tr4 {
	display: block;
	width: 100%;
	margin-top: 39px;
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.list3 .tr4>td {
	display: block;
	width: 100%;
}

.table2 {
	width: 100%;
}

.table2 tr {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	margin-top: 24px;
}


.table2 tr:first-child {
	margin-top: 0;
	margin-bottom: 39px;
}

.table2 tr>td:first-child {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #a4adb5;
	line-height: 36px;
}

.table2 tr>td:last-child {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.table2 p {
	display: block;
	width: 1292px;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #516676;
	line-height: 36px;
}

.table2 b {
	display: inline;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: dodgerblue;
	white-space: nowrap;
}


.table2 span {
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #516676;
	opacity: 0.8;
	white-space: nowrap;
}

.table2 input {
	width: 400px;
	height: 40px;
	background-color: #ebf7ff;
	border-radius: 20px;
	border: solid 3px rgba(55, 169, 254, 0.17);
	opacity: 0.8;
	padding:0 10px;
}


.table2 tr>td:last-child {
	margin-top: 0;
	height: auto;
}


#file2 {
	width: 325px;
	height: 461px;
	background-color: #bbdff6;
	border-radius: 4px;
	line-height: 461px;
	padding-left: 110px;
}

.tr4-img {
	margin-left: 164px;
}


.tr4-discrip {
	margin-left: 164px;
}



.list3 .tr5 {
	width: 100%;
	margin-top: 38px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}


.list3 .tr5>td{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-top: 43px;
}

.list3 .tr5>td:first-child {
	margin-top: 0;
}


.list3 .tr5 .tr3-title div:last-child {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #4f5b64;
}	

.list3 .tr5 h6 {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #a4adb5;
}

.list3 .tr5 input {
	width: 400px;
    height: 40px;
    background-color: #ebf7ff;
    border-radius: 20px;
    border: solid 3px rgba(55, 169, 254, 0.17);
    opacity: 0.8;
    padding: 0 10px;
}

.list3 .tr5 .forsell {
	margin-left: 102px;
}

.list3 .tr5 .forkey {
	margin-left: 45px;
}

.list3 .tr5 .forkey>div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.list3 .tr5 .forkey span {
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #516676;
	opacity: 0.8;
	margin-top: 15px;
}

.list3 .tr6 {
	display: flex;
	margin-top: 70px;
}


.list3 .tr6 .btn {
	width: 250px;
	height: 40px;
	line-height: 24px;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #ffffff;
	padding: 8px 25px;
	border-radius: 30px;
	margin-right: 24px;
}

.list3 .tr7 {
	margin-top: 87px;
}

/* 第三页结束 */




/* 第四页开始 */
.list4 {
	display: block;
}

.same-tr1 {
	width: 272px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.same-tr1 td {
	font-size: 18px;
	font-weight: bold;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #516676;
}

.same-tr1>td:last-child {
	color: #30d366;
}

.same-tr1 div {
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background: #30D366;
}

.same-tr2 {
	margin-top: 44px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}


.same-tr2 td {
	width: 491px;
	height: 56px;
}

.same-tr2 img {
	width: 100%;
	height: 100%;
}


.list4 .add-tr3 {
	display: flex;
	align-items: center;
	margin-top: 32px;
}


.list4 .add-tr3 select{
	width: 240px;
	height: 42px;
	font-size: 18px;
	font-weight: bold;
	font-stretch: normal;
	color: #516676;
	opacity: 0.8;
	background: rgba(0,160,255,0.2);
	border-radius: 40px;
	border: none;
	padding: 10px 19px;
	margin-right: 19px;
}


.list4 .add-tr3 input{
	width: 240px;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
	font-stretch: normal;
	color: #516676;
	opacity: 0.8;
	background: rgba(0,160,255,0.2);
	border-radius: 40px;
	border: none;
	padding: 10px 19px;
	margin-right: 40px;
}

.list4 .add-tr3 img {
	width: 47px;
	height: 47px;
	cursor: pointer;
	margin-top: 4px;
}



.list4 .tr3 {
	display: block;
	margin-top: 90px;
	width: 100%;
}

.list4 .tr3 td:first-child {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #a4adb5;
	margin-right: 15px;
}

.list4 .tr3 td:last-child {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #516676;
}


.list4 .tr4 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1150px;
}

.list4 .tr4>td:nth-child(2) {
	display: flex;
	flex-direction: column;
	height: 69px;
	align-items: center;
	justify-content: space-between;
}



.list4 .green {
	display: inline-block;
	width: 10px;
	height: 5px;
	margin-right: 16px;
}

.list4 .num {
	padding-left: 16px;
}


.list4 h4 {
	font-size: 24px;
	font-weight: bold;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #4f5b64;
	
}


.list4 .tr4>td>div:last-child {
	width: 484px;
	height: 374px;
	background-color: #f3faff;
	border-radius: 4px;
	overflow-y: auto;
	margin-top: 19px;
}

/* .list2 .tr4>td>div:last-child::-webkit-scrollbar {
	display: none;
} */

.list4 .tr4 ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

.list4 li:first-child {
	margin-top: 35px;
	padding-left: 0;
}

.list4 li {
	margin: 20px 0 20px 27px;
}

.list4 .num div {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}



.list4 .add-tr5 {
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: 40px;
}

.list4 .add-tr5 td {
	display: flex;
	align-items: center;
	justify-content: center;
}

.list4 .add-tr5 td:first-child {
	margin-left: 29px;
	margin-right: 463px;
}

.list4 .add-tr5 td div{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 34px;
}

.list4 .add-tr5 img {
	width: 18px;
	height: 18px;
}

.list4 .add-tr5 span {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #566168;
	opacity: 0.8;
}

.list4 .add-tr5 .btn {
	height: 40px;
	line-height: 20px;
	border-radius: 30px;
	padding: 10px 32px;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #ffffff;
}


.list4 .tr5 {
	display: flex;
	width: 100%;
	margin-top: 60px;
	padding-bottom: 136px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

.list4 .tr5 td:last-child {
	margin-left: 40px;
}

.list4 .tr5 .btn {
	height: 40px;
	line-height: 20px;
	border-radius: 30px;
	padding: 10px 25px;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #ffffff;
}
/* 第四页结束 */





/* 第五页开始 */
.list5 {
	display: block;
}
.list5 .tr3 {
	display: block;
	width: 100%;
	margin-top: 41px;
	padding-bottom: 36px;
	
}

.list5 .tr3>td{
	width: 100%;
	display:block;
}

.list5 .tr3 table {
	width: 100%;
}


.list5 .table3 tr {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-top: 40px;
	
}


.list5 .tr3 table tr:first-child {
	margin-top: 0;
}



.tr3-title th:last-child {
	font-size: 24px;
	font-weight: bold;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #4f5b64;
}

.tr3-title th:last-child b {
	color: #37e06f;
}

.tr3-title .green{
	display: inline-block;
	width: 10px;
	height: 5px;
	margin-top: 10px;
	margin-right: 16px;
}


.list5 .table3 td:first-child {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #a4adb5;
}

.list5 .table3 p {
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #516676;
}


.list5 .table3 span {
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #516676;
	opacity: 0.8;
	white-space: nowrap;
}

.list5 .table3 input {
	width: 400px;
	height: 40px;
	background-color: #ebf7ff;
	border-radius: 20px;
	border: solid 3px rgba(55, 169, 254, 0.17);
	opacity: 0.8;
	padding:0 10px;
	font-size: 18px;
}


.list5 .table3 select {
	width: 400px;
	height: 40px;
	font-size: 18px;
	font-stretch: normal;
	color: #516676;
	opacity: 0.8;
	background:  #ebf7ff;
	border-radius: 40px;
	border: solid 3px rgba(55, 169, 254, 0.17);
	padding: 0px 10px;
}


.list5 .table3 textarea {
	width: 700px;
	height: 200px;
	background-color: #ebf7ff;
	border-radius: 20px;
	border: solid 3px rgba(55, 169, 254, 0.17);
	opacity: 0.8;
	padding:10px 10px;
}


.list5  .tr3-type {
	padding-left: 68px;
	
}


.list5 .tr3-type>td:nth-child(2) {
	display: flex;
}


.list5 .tr3-type>td:last-child {
	display: block;
	width: 47px;
	height: 47px;
	margin-top: -10px;
}

.list5 .tr3-type img {
	width: 100%;
	height: 100%;
}



.list5 .tr3-numb {
	display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 40px;
	padding-left: 68px;
}



.list5 .tr3-name {
	padding-left: 30px;
}

.list5 .tr3-name > td:last-child {
	height: auto;
}


.list5 .tr3-discrip {
	padding-left: 30px;
}

.list5 .tr3-discrip>td:last-child {
	margin-top: -10px;
}



.list5 .tr3-price {
	padding-left: 68px;
}


.list5 .tr3-price>td:last-child {
	h70
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: -10px;
}


.list5 .tr3-discount {
	padding-left: 49px;
}


.list5 .tr3-discount>td:last-child {
	margin-top: -10px;
}


.list5 .tr3-trans {
	padding-left: 30px;
}


.list5 .forsell {
	padding-left: 49px;
}


.list5 .tr3-img {
	padding-left: 26px;
}


.list5 .tr3-time {
	padding-left: 30px;
}


.list5 .tr3-time td:last-child {
	margin-top: -10px;
}


.list5 .tr3-img td:last-child {
	display: flex;
	width: 604px;
	justify-content: space-between;
}


.list5 .upload div:last-child {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 7px;
}


.upload a {
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #ffffff;
	width: 88px;
	/* height: 28px; */
	border-radius: 20px;
	padding: 4px 8px;
	line-height: 24px;
}


.list5 #file1 {
	display: block;
	width: 140px;
	height: 140px;
	background-color: #bbdff6;
	border-radius: 4px;
	line-height: 140px;
	padding-left: 30px;
	margin-bottom: 15px;
}


.bottom-a {
	width: 276px;
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
}

.bottom-a a {
	width: 130px;
	height: 40px;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	color: #ffffff;
	border-radius: 30px;
	line-height: 28px;
}


.list5 .tr7 {
	margin-top: 77px;
}
/* 第五页结束 */