#order {
	width: 100%;
	height: 0.98rem;
	background-image: linear-gradient(-90deg, #306efb 0%, #358ffb 38%, #39b0fb 100%);
	position: fixed;
	z-index: 10;
}

#order > span {
	display: block;
	width: 100%;
	font-size: 0.3rem;
	color: #ffffff;
	text-align: center;
	line-height: 0.98rem;
}


#order-list {
	width: 100%;
	height: auto;
	background-color: #e8e8e8;
	padding:0.24rem;
	overflow: hidden;
	padding-top: 1.24rem;
}


#order-list > li {
	width: 100%;
	height: auto;
	background-color: #ffffff;
	box-shadow: 0.01rem 0.07rem 0.07rem 0rem rgba(175, 174, 176, 0.35);
	border-radius: 0.15rem;
	padding: 0.24rem;
	margin-bottom:0.24rem ;
	display: flex;
}


#order-list > li:after {
	content: "";
	display: block;
	clear: both;
}


#order-list > li:last-child {
	margin-bottom: 1.2rem;
}



#order-list > li > a {
	width: auto;
	height: auto;
	float: left;
	/*flex-grow: 1;*/
}


#order-list > li > a:after {
	content: "";
	display: block;
	clear: both;
}


#order-list > li > a > img{
	width: 1.9rem;
	height: 1.9rem;
	background-color: #e8e8e8;
}

#retailers-text {
	float: left;
	/*margin-left: 0.2rem;*/
	width: 4.2rem;
	height: auto;
	padding-left: 0.2rem;
	flex-grow: 1;
}


#retailers-text > li:first-child {
	width: auto;
	height: auto;
}



#retailers-text > li:first-child {
	display: flex;
	align-items:center ;
	justify-content: space-between;
}


#retailers-text > li:first-child > a {
	font-size: 0.36rem;
	color: rgb(0,0,0,0.8);
	display: block;
	font-weight: 500;
	/*float: left;*/
}


#retailers-text > li:first-child > span {
	display: block;
	font-size: 0.18rem;
	color: #000000;
	opacity: 0.4;
	/*float: right;*/
}


#retailers-text > li:nth-child(2) {
	margin: 0.22rem 0;
	width: auto;
}


#retailers-text > li:nth-child(2):after {
	content: "";
	display: block;
	clear: both;
}


#rank-star {
	position: relative;
	width: 1.3rem;
	height: 0.21rem;
	float: left;
}


#rank-star > div > img {
	width: 1.3rem;
	height: 0.21rem;
}


#rank-star > div:first-child  {
	position:absolute;
	top:0;
	left:0;
}


#rank-star > div:last-child  {
	width: 60%;
	position: absolute;
	top:0;
	left:0;
	overflow: hidden;
}



#retailers-text > li:nth-child(3) {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
}



#retailers-text > li:nth-child(3) >img {
	width: 0.32rem;
	height: 0.32rem;
	float: left;
}


#retailers-text > li:nth-child(3) > span:nth-child(2) {
	display: block;
	width: auto;
	font-size: 0.24rem;
	color: rgba(0,0,0,.4);
	float: left;
	margin-right: 0.5rem;
}


#retailers-text > li:nth-child(3) > span:nth-child(3) {
	font-size: 0.34rem;
	color: #ff1111;
	font-weight: 500;
	float: right;
	/*margin-left: 0.4rem;*/	
}


#retailers-text > li:nth-child(4) {
	margin-top:0.2rem ;
	width: auto;
	height: auto;
}


#retailers-text > li:nth-child(4):after {
	content: "";
	display: block;
	clear: both;
}


#retailers-text > li:nth-child(4) > a:first-child {
	display: block;
	font-size: 0.18rem;
	color: #ffffff;
	width: 0.98rem;
	height: 0.36rem;
	background-color: #39aefb;
	box-shadow: 0rem 0.02rem 0.03rem 0rem rgba(57, 174, 251, 0.35);
	border-radius: 0.17rem;
	text-align: center;
	line-height: 0.36rem;
	float: left;
}



#retailers-text > li:nth-child(4) > a:last-child {
	display: block;
	font-size: 0.18rem;
	color: #ffffff;
	width: 0.98rem;
	height: 0.36rem;
	background-color: #fa9f29;
	box-shadow: 0rem 0.02rem 0.03rem 0rem rgba(250, 159, 41, 0.35);
	border-radius: 0.17rem;
	text-align: center;
	line-height: 0.36rem;
	float: left;
	margin-left: 0.4rem;
}



#order-nav {
	padding: 0 0.46rem;
	width: 100%;
	height: 0.98rem;
	background-color: #ffffff;
	z-index: 10;
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items:center;
	
}


#order-nav > li {
	width: auto;
	height: auto;
}


#order-nav > li > a >img {
	margin-left: 0.01rem;
	width: 0.44rem;
	height: 0.4rem;
	/*box-shadow: 0rem 0.02rem 0.04rem 0rem rgba(92, 125, 247, 0.4);*/
}

#order-nav > li > a >span {
	font-size: 0.18rem;
	color: rgba(0,0,0,.6);
	display: block;
	text-align: center;	
	margin-top: 0.06rem;
}


#order-nav > li:nth-child(3) > a > span {
	font-size: 0.18rem;
	color: #4268f6;
	display: block;
	text-align: center;	
	margin-top: 0.06rem;
}